@import "src/styles/var";

$avatar-size-default: 200px;
$avatar-size-desktop: 300px;

.fury-account-component {
  padding: $spacing;

  h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: Athletics !important;
  }

  .header {
    margin-bottom: $spacing;
  }

  .fury-tabs {
    .mat-tab-header {
      border-bottom: 0px;
    }

    .mat-tab-labels {
      background: transparent;

      .mat-tab-label {
        min-width: 50px;
        padding: 0 $padding-sm;
        color: $form-color-text;

        &.mat-tab-label-active {
          color: $color-accent;
        }

        .mat-ripple-element {
          display: none;
        }
      }
    }
  }

  .savings {
    text-align: center;
    color: #6366F1;
  }

  .total-savings {
    border-radius: 12px;

    p, h1 {
      margin: 0;
      font-family: Athletics;
    }
    p {
      margin-bottom: 12px;
      color: #9CA3AF;
      font-size: 16px;
      font-weight: normal;
      line-height: 24px;
    }

    h1 {
      color: #111827;
      font-weight: bold;
      font-size: 30px;
      line-height: 48px;
      letter-spacing: 0.05em;

    }
  }

  .button-outline-img {
    height: 36px;
    color: #fff;
    background: transparent;
    box-shadow: none;
    border: 1px solid #fff;
    border-radius: 12px;
    font-size: 14px;
    padding: 0 12px;

    text-align: left;

    img {
      margin-right: 8px;
    }
  }

  .button-with-caret {
    height: 48px;
    color: #fff;
    background: transparent;
    box-shadow: none !important;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    padding: 0;

    text-align: left;

    img {
      float: right;
      right: 0;
    }
  }

  .user-image {
    border-radius: 50%;
    width: 88px;
    height: 88px;
  }
  
  .mat-form-field-wrapper {
    color: $form-color-text;
    
    .mat-form-field-flex {
      background-color: $color-lightgray;
      border-radius: 12px;
      padding: 0 0.75em 0 1.35em;
    }

    .mat-input-element {
      font-size: 14px;
      line-height: 20px;
    }

    .mat-form-field-underline {      
      &, &::before {
      display: none;
      }
    }
  }

  .mat-button {
    &.form-profile-btn {
      color: $color-accent;
    }
  }

  .submit-area {
    &__message {
      display: flex;
      align-items: center;

      &.success {
        color: $color-success;
      }
    }

    &__icon {
      font-family: "Material Icons Outlined";
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      margin-right: 4px;
    }
  }

  .caption {
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    color: #fff;
    margin: 24px 0;
  }

  .mat-divider {
    border-top-color: rgba(255, 255, 255, 0.24) !important;
  }

  .divider {
    &.general-profile-divider {
      margin: $padding 0;
    }
  }

  .categories-container {
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: 481px) and (max-width: 959px) {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: -$spacing;
    }

    @media (min-width: 960px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: -$spacing;
    }
  }

  .category-button {
    border-radius: 25px;

    @media (max-width: 480px) {
      &:not(:last-of-type) {
        margin: 0 0 $spacing;
      }
    }

    @media (min-width: 481px) {
      margin: 0 $spacing/2 $spacing;
    }

    @media (min-width: 1200px) {
      margin: 0 $spacing/2 $spacing 0;
    }

    .category-button-image {
      width: 20px;
      padding-right: 5px;
    }
  }

  .wishlist-item {
    &__image-container {
      background-color: #fff;
      min-width: 300px;
      height: 200px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $color-lightgray;
      padding: $padding-xs;
      margin-bottom: $padding-xs * 3;
      border-radius: $border-radius * 3;
    }

    &__img {
      max-width: 100%;
      max-height: 100%;
    }

    &__delete-btn {
      position: absolute;
      color: $color-accent;
      left: $padding-xs;
      bottom: $padding-xs;
    }

    &__title {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin: $spacing 0;
      display: -webkit-inline-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    &__price {
      font-size: 3rem;
      line-height: 3rem;
      margin: $padding-xs 0;

      &__old {
        font-size: 2rem;
        line-height: 2rem;
        color: $color-default;
        text-decoration: line-through;
      }
    }

    & + & {
      margin-top: $padding-xl;
    }
  }

  .personalization-data {
    &__panel-header {
      height: auto !important;
    }

    &__panel-title {
      flex-direction: column;
    }

    &__category-title {
      margin-top: $padding-xs;
    }

    &__category-description {
      font-style: italic;
      font-size: 1rem;
      color: $color-accent;
      margin: $padding-xs 0;
    }

    &__category-button {
      margin: 0 $padding-xs $padding-xs 0;
    }
  }
}
