<div class="fury-account-component" fxLayout="column" fxLayout.gt-sm="row">
  <div class="content" fxFlex>
    <div class="header">
      <div class="title">Account</div>
    </div>

    <mat-tab-group class="tabs fury-tabs" animationDuration="0ms">
      <mat-tab label="General Profile">
        <h2 class="tab-header">General Profile</h2>
        <p class="tab-content">
          General Profile description
        </p>
      </mat-tab>
      <mat-tab label="Personalization">
        <h2 class="tab-header">Personalization</h2>
        <p class="tab-content">
          Personalization description
        </p>
      </mat-tab>
      <mat-tab label="Wish List">
        <h2 class="tab-header">Wish List</h2>
        <p class="tab-content">
          Wish List description
        </p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
