<div
  *ngIf="!!user"
  class="fury-account-component"
  fxLayout="column"
  fxLayout.gt-sm="row"
>
  <div class="content" fxFlex>    
    <mat-card class="total-savings" *ngIf="totalSavings">
      <p>By using Comparrot you've saved</p>
      <h1>
        ${{totalSavings | number:'1.2-2'}}
      </h1>
    </mat-card>
    
    <form
      fxLayout="column"
    >

    <h4 class="caption">Account settings</h4>

      <div
        fxLayout="column"
        fxLayout.gt-xs="row"
        fxLayoutGap="16px"
        fxLayoutAlign="start"
        fxLayoutAlign.gt-xs="start start"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="space-around center"
        >
            <ng-container *ngIf="user.photoURL as avatar; else showInitials">
              <img [src]="avatar" class="user-image" />
            </ng-container>
            
            <!-- Display Name initials -->
            <ng-template #showInitials>
              <div class="user-image" *ngIf="user.displayName; else showDefaultAvatar">
                {{user.displayName | nameInitials}}
              </div>
      
              <!-- Display Default avatar -->
              <ng-template #showDefaultAvatar>
                <img src="assets/img/default-user.jpg" class="user-image" />
              </ng-template>
            </ng-template>

            <a
              type="button"
              class="button-outline-img social-btn"
              mat-button
              href="https://joincomparrot.com/settings?act=upload" target="_blank"
            >
              <img src="assets/img/icons/icon-cloud-up.svg" />
              Upload new photo
            </a>
        </div>
        <div fxFlex="grow" fxLayout="column">
          <div fxFlex="auto" fxLayout="column">
            <mat-form-field>
              <input
                matInput
                placeholder="First Name"
                readonly
                [value]="user.firstName"
              />
            </mat-form-field>
          </div>
          <div fxFlex="auto" fxLayout="column">
            <mat-form-field>
              <input
                matInput
                placeholder="Last Name"
                readonly
                [value]="user.lastName"
              />
            </mat-form-field>
          </div>
          <div fxFlex="auto" fxLayout="column">
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                readonly
                [value]="user.email"
              />
            </mat-form-field>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div fxFlex="grow" fxLayout="column">
          <a
              type="button"
              class="button-with-caret"
              mat-button
              href="https://joincomparrot.com/settings" target="_blank"
            >
            Settings
            <img src="assets/img/icons/icon-caretright.svg" />
        </a>
          <a
              type="button"
              class="button-with-caret"
              mat-button
              href="https://joincomparrot.com/settings?act=prsnl" target="_blank"
            >
            Personalization
            <img src="assets/img/icons/icon-caretright.svg" />
        </a>
          <a
              type="button"
              class="button-with-caret"
              mat-button
              href="https://joincomparrot.com/help" target="_blank"
            >
            Help
            <img src="assets/img/icons/icon-caretright.svg" />
        </a>
        </div>

        <mat-divider></mat-divider>

        <div fxFlex="grow" fxLayout="column" class="mb-48">
          <a
              type="button"
              class="button-with-caret"
              mat-button
              (click)="logout()"
            >
            Logout
            <img src="assets/img/icons/icon-signout.svg" />
        </a>
        </div>
      </div>
    </form>
  </div>
</div>
