@import "src/styles/var";

$avatar-size-default: 200px;
$avatar-size-desktop: 500px;

.fury-account-component {
  padding: $spacing;

  .header {
    margin-bottom: $spacing;
  }

  .tab-header {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.1rem;
    margin: $spacing 0;
  }

  .input-file-cropper {
    max-width: $avatar-size-default;
    max-height: $avatar-size-default;

    @media (min-width: 768px) {
      max-width: $avatar-size-desktop;
      max-height: $avatar-size-desktop;
    }
  }

  .input-file-image-container {
    position: relative;
    display: flex;

    input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .user-image {
    border-radius: 8px;
    width: 100%;
    height: auto;
    max-width: $avatar-size-default;
    max-height: $avatar-size-default;

    @media (min-width: 768px) {
      max-width: $avatar-size-desktop;
      max-height: $avatar-size-desktop;
    }
  }

  .submit-area {
    &__message {
      display: flex;
      align-items: center;

      &.success {
        color: $color-success;
      }
    }

    &__icon {
      margin-right: 4px;
    }
  }
}
