@import "var";

.page {
  display: block;
  height: 100%;
  width: 100%;
}

.card {
  width: 380px;

  @include media-xs {
    width: 300px;
  }

  .header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

.logo {
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 60px;
    margin-bottom: -#{$padding};
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

.content {
    text-align: center;
}

button {
  text-transform: uppercase;
}

.secondary-text a {
  color: #408bd3;
  text-decoration: none;
  cursor: pointer;
}