<div
  class="background-pattern page"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div [@fadeInUp] class="card card-register border-radius elevation">
    <div class="header padding" fxLayout="column" fxLayoutAlign="center center">
      <div
        class="logo"
        [routerLink]="['/']"
        [ngStyle]="{ 'background-image': 'url(' + logoUrl + ')' }"
      ></div>
    </div>
    <form
      (ngSubmit)="signup()"
      class="form-signup padding"
      fxLayout="column"
      fxLayoutGap="16px"
      [formGroup]="form"
    >
      <fury-oauth-component></fury-oauth-component>
      <div class="text-line">
        <h4>or</h4>
      </div>
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Firstname</mat-label>
          <input matInput required formControlName="firstname" />
          <mat-error *ngIf="formErrors.firstname">{{ formErrors.firstname }}</mat-error>
          <mat-error
              *ngIf="form.get('firstname').hasError('required') && !formErrors.firstname"
          >Please enter your Firstname</mat-error
          >
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Lastname</mat-label>
          <input matInput required formControlName="lastname" />
          <mat-error *ngIf="formErrors.lastname">{{ formErrors.lastname }}</mat-error>
          <mat-error
              *ngIf="form.get('lastname').hasError('required') && !formErrors.lastname"
          >Please enter your Lastname</mat-error
          >
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Email</mat-label>
          <input matInput required formControlName="email" />
          <mat-error *ngIf="formErrors.email">{{ formErrors.email }}</mat-error>
          <mat-error
            *ngIf="form.get('email').hasError('required') && !formErrors.email"
            >Please enter your email</mat-error
          >
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="inputType"
            formControlName="password"
            required
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="toggleVisibility()"
            matTooltip="Toggle Visibility"
          >
            <mat-icon *ngIf="visible">visibility</mat-icon>
            <mat-icon *ngIf="!visible">visibility_off</mat-icon>
          </button>
          <mat-error *ngIf="formErrors.password">{{
            formErrors.password
          }}</mat-error>
          <mat-error
            *ngIf="
              form.get('password').hasError('required') && !formErrors.password
            "
            >Please enter your password</mat-error
          >
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            [type]="inputType"
            formControlName="passwordConfirm"
            required
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="toggleVisibility()"
            matTooltip="Toggle Visibility"
          >
            <mat-icon *ngIf="visible">visibility</mat-icon>
            <mat-icon *ngIf="!visible">visibility_off</mat-icon>
          </button>
          <mat-error *ngIf="formErrors.passwordConfirm">{{
            formErrors.passwordConfirm
          }}</mat-error>
          <mat-error
            *ngIf="
              form.get('passwordConfirm').hasError('required') &&
              !formErrors.passwordConfirm
            "
            >Those passwords didn't match. Please try again</mat-error
          >
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <mat-checkbox class="caption" formControlName="acceptTerms"></mat-checkbox>
        <div class="checkbox-label">
          <label>
            By continuing, you agree to Comparrot's 
            <a target="_blank" href="https://comparrot.io/terms.html">Terms of Service</a> 
            and confirm that you have read our 
            <a target="_blank" href="https://comparrot.io/privacy.html">Privacy Policy</a>
          </label>
          <mat-error *ngIf="form.get('acceptTerms').errors && submitted">Accept ToS & PP is required</mat-error>
        </div>
      </div>
      
      <button
        type="submit"
        class="form-button-signup"
        color="primary"
        mat-raised-button
      >
        REGISTER
      </button>
      <p class="secondary-text text-center">
        Already have an account? <a [routerLink]="['/login']">Login</a>
      </p>
    </form>
  </div>
</div>
