<div
  class="page background-pattern"
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <div [@fadeInUp] class="card border-radius elevation">
    <div class="header padding" fxLayout="column" fxLayoutAlign="center start">
      <div class="logo" [routerLink]="['/']"></div>
    </div>

    <form
      class="form-register padding"
      fxLayout="column"
      (submit)="signup()"
      [formGroup]="form"
    >
      <button
        type="button" 
        class="nav-back-btn"
        mat-raised-button
        [routerLink]="'/login'"
      >
          <img src="assets/img/icons/navigate-left.svg" />
          Return
      </button>
      <div fxLayout="row" fxLayoutAlign="start start">
        <h4>Registration</h4>
      </div>

      <button
        type="button"
        class="form-button-login social-btn"
        mat-raised-button
        (click)="doGoogleLogin()"
      >
        <img src="assets/img/icons/icon-auth-google.svg" />
        Login with Google
      </button>

      <button
        type="button"
        class="form-button-login social-btn mb-0"
        mat-raised-button
        (click)="doFacebookLogin()"
      >
        <img src="assets/img/icons/icon-auth-facebook.svg" />
        Login with Facebook
      </button>

      <mat-divider></mat-divider>

      <mat-form-field fxFlex="grow">
        <mat-label>
          Email
        </mat-label>
        <input matInput required formControlName="email" />
        <mat-error *ngIf="formErrors.email">
          {{ formErrors.email }}
        </mat-error>
        <mat-error
          *ngIf="
            form.get('email').hasError('required') &&
            !formErrors.email
          "
        >
          Please enter your email
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="grow" class="p-0 mb-0">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="inputType"
          formControlName="password"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          matTooltip="Toggle Visibility"
        >
          <mat-icon *ngIf="visible">visibility</mat-icon>
          <mat-icon *ngIf="!visible">visibility_off</mat-icon>
        </button>
      </mat-form-field>

      <div class="password-strength">
        <ul class="strength-progress" [ngClass]="'strength-progress-' + strengthOfPassword.length">
            <li *ngFor="let i of [].constructor(3)"></li>
        </ul>
        <ul class="strength-list" [ngClass]="strengthOfPassword">
            <li>Upper & lower case</li>
            <li>Contains a number and a symbol</li>
            <li>More than 8 characters</li>
        </ul>
      </div>

      <div id="recaptcha-container"></div>

      <button
        class="form-button-submit text-center"
        mat-raised-button        
      >
        Join Comparrot
      </button>

      <mat-divider></mat-divider>

      <p class="secondary-text text-left p-0 m-0">
        By continueing, you agree to Comparrot's<br /><a href="https://joincomparrot.com/terms" target="_blank">Terms of Service</a> and confirm that you have <br />read our <a href="https://joincomparrot.com/privacy" target="_blank">Privacy Policy</a>
      </p>

      <mat-divider></mat-divider>

      <p class="secondary-text text-center p-0 m-0">
        Already a member? <a [routerLink]="['/login']">Login to Comparrot</a> 
      </p>
    </form>
  </div>
</div>
