<div class="oauth-container">

  <div class="oauth-container-login" (click)="doFacebookLogin()">
    <div class="fb-login-btn">
      <img src="../../../assets/img/fb.svg" alt="fb">
    </div>
  </div>
  <div class="oauth-container-login" (click)="doGoogleLogin()">
    <div class="google-login-btn">
      <img src="../../../assets/img/google.svg" alt="google">
    </div>
  </div>

  <div class="oauth-container-register" (click)="doFacebookLogin()">
    <div class="fb-register-btn">
      <div class="register-btn-img">
        <img src="../../../assets/img/fb.svg" alt="fb">
      </div>
      <span>Use Facebook</span>
    </div>
  </div>
  <div class="oauth-container-register" (click)="doGoogleLogin()">
    <div class="google-register-btn">
      <div class="register-btn-img">
        <img src="../../../assets/img/google.svg" alt="google">
      </div>      
      <span>Use Google</span>
    </div>
  </div>
  
</div>