<div class="oauth-container">
  <div class="oauth-container-login" (click)="doFacebookLogin()">
    <div class="login-btn fb-color">
      <img src="../../../assets/img/fb.svg" alt="fb" />
    </div>
  </div>
  <div class="oauth-container-login" (click)="doGoogleLogin()">
    <div class="login-btn google-color">
      <img src="../../../assets/img/google.svg" alt="google" />
    </div>
  </div>

  <div class="oauth-container-register" (click)="doFacebookLogin()">
    <div class="register-btn fb-color">
      <div class="register-btn-img">
        <img src="../../../assets/img/fb.svg" alt="fb" />
      </div>
      <span>Use Facebook</span>
    </div>
  </div>
  <div class="oauth-container-register" (click)="doGoogleLogin()">
    <div class="register-btn google-color">
      <div class="register-btn-img">
        <img src="../../../assets/img/google.svg" alt="google" />
      </div>
      <span>Use Google</span>
    </div>
  </div>
</div>
