<div class="toolbar" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayoutAlign="start center">
    <ng-content></ng-content>
  </div>

  <div fxLayout="row">
    <fury-toolbar-notifications
      *ngIf="isLoggedIn"
      class="toolbar-button"
    ></fury-toolbar-notifications>

    <fury-toolbar-user class="toolbar-button" *ngIf="showAvatar"></fury-toolbar-user>

<!--        <fury-toolbar-quickpanel-toggle (openQuickPanel)="openQuickPanel.emit()"-->
<!--                                        class="toolbar-button"></fury-toolbar-quickpanel-toggle>-->

    <fury-toolbar-close class="toolbar-button" *ngIf="showClose"></fury-toolbar-close>
  </div>
</div>
