<div
  class="background-pattern page"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div [@fadeInUp] class="card border-radius elevation">
    <div class="header padding" fxLayout="column" fxLayoutAlign="center center">
      <div
        class="logo"
        [routerLink]="['/']"
        [style.background-image]="sanitizer.bypassSecurityTrustStyle('url(' + logoUrl + ')')"
      ></div>
    </div>
    <h4>
      Please enter the email address you used when you joined and we’ll send you
      instructions to reset your password.
    </h4>
    <form
      (ngSubmit)="sendRecoveryLink()"
      class="padding"
      fxLayout="column"
      fxLayoutGap="16px"
      [formGroup]="form"
    >
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>E-Mail</mat-label>
          <input matInput required formControlName="email" autocomplete="off" />
          <mat-error *ngIf="formErrors.email">{{ formErrors.email }}</mat-error>
          <mat-error
            *ngIf="form.get('email').hasError('required') && !formErrors.email"
            >Please enter your email address to recover the password.</mat-error
          >
        </mat-form-field>
      </div>

      <button type="submit" color="primary" mat-raised-button>
        Reset password
      </button>
    </form>
  </div>
</div>
