@import "var";

fury-select-timeframes {
  margin: 0 !important;
  display: flex;
  justify-content: flex-end;

  .mat-form-field-wrapper {
    width: 13rem;

    .mat-form-field-flex {
      border: 1px solid $color-default;
      background-color: white !important;
      border-radius: 10px;
    }

    .mat-form-field-label {
      color: $form-color-text;
    }

    .mat-form-field-underline {
      &,
      &::before {
        display: none;
      }
    }
  }
}
