@import "var";

:host {
  bottom: 0;
  display: block;
}

.footer {
  height: $footer-height;
  position: relative;
  z-index: $footer-z-index;
  padding-left: $spacing;
  padding-right: $spacing;
  display: flex;
  align-items: center;
  justify-content: center;

  .action-login {
    color: $color-accent;
    font-weight: 600;
    line-height: 21px;

    &:hover, &:focus {
      cursor: pointer;
      text-decoration: underline;
    }
  }

}
