<div class="container" fxLayout="column">
  <ng-container *ngIf="(toolbarPosition$ | async) === 'above-fixed'">
    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
  </ng-container>

  <mat-sidenav-container autosize fxFlex>
    <mat-sidenav-content class="content-container" fxLayout="column">
      <ng-container *ngIf="(toolbarPosition$ | async) === 'fixed'">
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
      </ng-container>

      <!-- CONTENT -->
      <div
        [class.scroll-disabled]="scrollDisabled$ | async"
        cdkScrollable
        class="content"
        fxFlex="auto"
        fxLayout="column"
      >
        <ng-container *ngIf="(toolbarPosition$ | async) === 'static'">
          <ng-container *ngTemplateOutlet="toolbar"></ng-container>
        </ng-container>

        <div class="content-inner" fxFlex="auto">
          <router-outlet></router-outlet>
        </div>

        <ng-container *ngIf="(footerPosition$ | async) === 'static'">
          <ng-container *ngTemplateOutlet="footer"></ng-container>
        </ng-container>
      </div>
      <!-- END CONTENT -->

      <ng-container *ngIf="(footerPosition$ | async) === 'fixed'">
        <ng-container *ngTemplateOutlet="footer"></ng-container>
      </ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <ng-container *ngIf="(footerPosition$ | async) === 'above-fixed'">
    <ng-container *ngTemplateOutlet="footer"></ng-container>
  </ng-container>
</div>

<ng-template #toolbar>
  <!-- TOOLBAR -->
  <fury-toolbar
    *ngIf="toolbarVisible$ | async"
    fxFlex="none"
  >
    <div
        [fxShow]="true"
      [routerLink]="['/']"
      class="toolbar-logo"
    >
      <img src="assets/img/logo.svg" alt="logo" />
    </div>
  </fury-toolbar>

  <!-- TOOLBAR 2-->
  <fury-toolbar
    fxFlex="none"
    [showAvatar]="true"
    [showClose]="false"
  >

  <mat-divider class="toolbar-divider"></mat-divider>

  <div fxLayout="row" class="toolbar-buttons">
    <button mat-button [routerLink]="'/home'" [queryParams]="{tab: 'home'}" class="toolbar-button">
      <img src="assets/img/icons/icon-home.svg" />
      <span class="button-text">Home</span>
    </button>
    
    <button mat-button [routerLink]="'/deals'" [queryParams]="{tab: 'deals'}" class="toolbar-button">
      <img src="assets/img/icons/icon-store.svg" />
      <span class="button-text">Deals</span>
    </button>

    <button mat-button [routerLink]="'/wishlist'" [queryParams]="{tab: 'wishlist'}" class="toolbar-button">
      <img src="assets/img/icons/icon-heart.svg" />
      <span class="button-text">Liked</span>
    </button>
  </div>
  </fury-toolbar>
  <!-- END TOOLBAR 2 -->
</ng-template>

<ng-template #footer>
  <!-- FOOTER -->
  <fury-footer fxFlex="none"></fury-footer>
  <!-- END FOOTER -->
</ng-template>
