<div
  class="page background-pattern"
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <div [@fadeInUp] class="card border-radius elevation">
    <div class="header padding" fxLayout="column" fxLayoutAlign="center start">
      <div class="logo" [routerLink]="['/']"></div>
    </div>
    <form
      class="form-login padding"
      fxLayout="column"
      fxLayoutGap="16px"
    >
      <div fxFlex="auto" fxLayout="column">
        <h4>Log in to Comparrot</h4>
      </div>

      <button
        type="button"
        class="form-button-login social-btn"
        mat-raised-button
        (click)="doGoogleLogin()"
      >
        <img src="assets/img/icons/icon-auth-google.svg" />
        Login with Google
      </button>

      <button
        type="button"
        class="form-button-login social-btn"
        mat-raised-button
        (click)="doFacebookLogin()"
      >
        <img src="assets/img/icons/icon-auth-facebook.svg" />
        Login with Facebook
      </button>

      <button
        type="button"
        class="form-button-login email-btn"
        mat-raised-button
        [routerLink]="'/login-with'"
      >
        <img src="assets/img/icons/icon-auth-email.svg" />
        Login with Email
      </button>

      <mat-divider></mat-divider>

      <p class="secondary-text text-center">
        <span class="opacity-64">Not a member?</span> <a [routerLink]="['/register']">Join Comparrot</a> 
      </p>
    </form>
  </div>
</div>
