<mat-card class="landing-ext">
  <div class="landing-ext-area">
    <div class="landng-ext-header">
      <div class="landng-welcome-title">Welcome <br>to Comparrot!</div>
    </div>
    <div class="landng-content-area">
      <p>Look for the blue &nbsp; <img src=".\assets\img\icons\ext-active.png" alt="Comparrot logo"> &nbsp; to save</p>
  
      <mat-divider></mat-divider>
      
      <p><img src=".\assets\img\icons\ext-active.png" alt="Comparrot logo"> — you’re on a site where Comparrot automatically finds the cheapest price.</p>
      <p><img src=".\assets\img\icons\ext-inactive.png" alt="Comparrot logo"> — you're on a site that is unsupported.</p>
    </div>
  </div>
</mat-card>