iframe#extension-iframe {
  position: fixed;
  right: 5px;
  top: -100%;
  display: block;
  width: 25%;
  min-width: 342px;
  height: calc(100% - 10px);
  z-index: 100000;
  border: 0;
  border-radius: 24px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.15);
}

iframe#extension-iframe.active {
  top: 5px;
  animation: bounceInDown 0.5s ease-in-out;
}
iframe#extension-iframe.inactive {
  animation: bounceOutUp 0.25s ease-in-out;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }
  
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }
  
  75% {
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }
  
  90% {
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }
  
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceOutUp {
  0% {
    top: 5px;
  }

  20% {
    transform: translate3d(0, -10px, 0) scaleY(0.985);
  }
  
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0) scaleY(0.9);
  }
  
  100% {
    top: -100%;
  }
  
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0) scaleY(3);
  }
}
