/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Athletics';
    src: url('./assets/fonts/Athletics/Athletics-Light.eot');
    src: local('Athletics Light'), local('./assets/fonts/Athletics/Athletics-Light'),
        url('./assets/fonts/Athletics/Athletics-Light.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Athletics/Athletics-Light.woff2') format('woff2'),
        url('./assets/fonts/Athletics/Athletics-Light.woff') format('woff'),
        url('./assets/fonts/Athletics/Athletics-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import "./@fury/styles/core";
@import "./app/app.theme";
