<fury-page
  [fxLayoutGap]="'16px'"
  class="dashboard extension"
  fxLayout="column"
>
  <div
    [fxLayoutGap]="'16px'"
    fxFlex="noshrink"
    fxLayout="column"
    fxLayout.gt-lg="row"
  >
    <div *ngIf="!products || !products.length; else productList">
      <mat-card *ngIf="products" class="landing-ext">
        <div class="landing-ext-area">
          <div class="landng-ext-header">
            <div class="landng-welcome-title">Welcome <br>To {{ projectName }}!</div>
          </div>
          <div class="landng-content-area">
            <h3>Look for the blue &nbsp; <img src=".\assets\img\icons\extension-active-128.png" alt="Comparrot logo"> &nbsp; to save</h3>
            <p>If you're shopping on a site and the <img src=".\assets\img\icons\extension-active-128.png" alt="Comparrot logo"> is blue, that means you're on a site where Comparrot automatically finds the cheapest price.</p>
            <p>If the <img src=".\assets\img\icons\extension-inactive-128.png" alt="Comparrot logo"> is gray, that means you're on a site that is unsupported.</p>
          </div>
        </div>
      </mat-card>
    </div>
    <ng-template #productList>
      <div>
        <div
          fxLayout.xs="column"
          fxLayout="row wrap"
        >
          <mat-card
            class="product"
            *ngFor="
              let product of products
            "
          >
            <div class="offer__product-container">
              <img
                class="offer__img"
                *ngIf="product.image"
                [src]="product.image"
                [alt]="product.title"
              />
              <span
                mat-icon-button
                class="offer__product-delete"
                (click)="deleteOffer(product.sku)"
              >
                <mat-icon>highlight_off</mat-icon>
              </span>
            </div>
            <mat-card-title
              class="offer__title"
              matTooltip="{{ product.title }}"
              [matTooltipPosition]="'above'"
            >
              {{ product.title }}
            </mat-card-title>
            <mat-card-content class="offer__content">
              <div class="offer__price-container">
                <span class="offer__price">
                  ${{ product.price }}
                </span>
              </div>
              <a
                (click)="onBuyButtonClick($event, product.url)"
                href="{{ product.url }}"
                target="_blank"
                class="offer__buy-button"
                mat-raised-button
                color="primary"
              >
                BUY
              </a>
            </mat-card-content>
            <mat-card-actions
              *ngIf="isLoggedIn"
              align="end"
              class="offer__actions"
            >
              <button mat-button class="offer__actions-button">
                <mat-icon>share</mat-icon>
                Share
              </button>
              <button
                mat-button
                class="offer__actions-button"
                (click)="toggleAddToWishlist(product.sku)"
              >
                <mat-icon>{{
                  user.wishList.includes(product.sku)
                    ? 'favorite'
                    : 'favorite_border'
                }}</mat-icon>
                Wishlist
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </ng-template>
  </div>
</fury-page>
