<fury-page
  [fxLayoutGap]="gap"
  class="dashboard"
  [ngClass]="{ extension: isExtension }"
  fxLayout="column"
>
  <div
    [fxLayoutGap]="gap"
    fxFlex="noshrink"
    fxLayout="column"
    fxLayout.gt-lg="row"
  >
    <div *ngIf="!offers || (!!offers && !offers.length); else offerList">
      <mat-card>
        <div class="landing-ext-area">
          <div class="landng-ext-header">
            <div class="landng-welcome-title">Welcome <br>To Comparrot!</div>
          </div>
          <div class="lndng-content-area">
            <h3>Look for the blue &nbsp; <img src=".\assets\img\icons\extension-active-128.png" alt="Comparrot logo"> &nbsp; to save</h3>
            <p>If you're shopping on a site and the <img src=".\assets\img\icons\extension-active-128.png" alt="Comparrot logo"> is blue, that means you're on a site where Comparrot automatically finds the cheapest price.</p>
            <p>If the <img src=".\assets\img\icons\extension-inactive-128.png" alt="Comparrot logo"> is gray, that means you're on a site that is unsupported.</p>
          </div>
        </div>
      </mat-card>
    </div>
    <ng-template #offerList>
      <div>
        <fury-select-timeframes #selectDataComp></fury-select-timeframes>
        <div
          fxLayout.xs="column"
          fxLayout="row wrap"
        >
          <mat-card
            class="offer"
            *ngFor="
              let offer of offers
                | timeframeFilter: (selectDataComp.selectedValues$ | async)
            "
          >
            <div class="offer__product-container">
              <div class="offer__product-info">
                <div class="offer__best-deal-container">
                  <div
                    *ngIf="offer.isBestDeal"
                    class="offer__best-deal-chip"
                    color="primary"
                    selected
                  >
                    BEST DEAL
                  </div>
                </div>
                <img
                  *ngIf="offer.vendor"
                  class="offer__product-vendor"
                  src="../../../assets/img/logos/vendor/{{ offer.vendor }}.svg"
                  alt="{{ offer.vendor }}"
                />
              </div>
              <img
                class="offer__img"
                *ngIf="offer.imageUrl || offer.image"
                [src]="offer.imageUrl || offer.image"
                [alt]="offer.title"
              />
              <span
                mat-icon-button
                class="offer__product-delete"
                (click)="deleteOffer(offer.id)"
              >
                <mat-icon>highlight_off</mat-icon>
              </span>
            </div>
            <mat-card-title
              class="offer__title"
              matTooltip="{{ offer.title }}"
              [matTooltipPosition]="'above'"
            >
              {{ offer.title }}
            </mat-card-title>
            <mat-card-content class="offer__content">
              <div class="offer__price-container">
                <span class="offer__price">
                  {{ offer.price }}
                </span>
                <span
                  class="offer__price offer__price__old"
                  *ngIf="offer.oldPrice"
                >
                  {{ offer.oldPrice }}
                </span>
              </div>
              <a
                (click)="onBuyButtonClick($event, offer.buyUrl)"
                href="{{ offer.buyUrl }}"
                target="_blank"
                class="offer__buy-button"
                mat-raised-button
                color="primary"
              >
                BUY
              </a>
            </mat-card-content>
            <mat-card-actions
              *ngIf="isLoggedIn"
              align="end"
              class="offer__actions"
            >
              <button mat-button class="offer__actions-button">
                <mat-icon>share</mat-icon>
                Share
              </button>
              <button
                mat-button
                class="offer__actions-button"
                (click)="toggleAddToWishlist(offer.id)"
              >
                <mat-icon>{{
                  user.wishList.includes(offer.id)
                    ? 'favorite'
                    : 'favorite_border'
                }}</mat-icon>
                Wishlist
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </ng-template>
  </div>
</fury-page>
