<fury-page [fxLayoutGap]="gap" class="dashboard" fxLayout="column">
  <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-lg="row">

    <mat-card class="offer" *ngFor="let offer of offers$">
      <div class="offer__image-container">
        <div class="offer__best-deal-chip" color="primary" selected>BEST DEAL</div>
        <img class="offer__img" src={{offer.imageUrl}} alt="" />
      </div>
      <mat-card-title class="offer__title">{{offer.title}}</mat-card-title>
      <mat-card-content class="offer__content">
        <div class="offer__price-container">
            <span class="offer__price">
              {{offer.price}}
            </span>
            <span class="offer__price offer__price__old"
                  *ngIf="offer.oldPrice">
              {{offer.oldPrice}}
            </span>
        </div>
        <button
            mat-raised-button
            color="primary">
          BUY
        </button>
      </mat-card-content>
      <mat-card-actions align="end" class="offer__actions">
        <button mat-button class="offer__actions-button">
          <mat-icon>share</mat-icon>
          Share
        </button>
        <button mat-button class="offer__actions-button">
          <mat-icon>favorite</mat-icon>
          Wishlist
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
</fury-page>


