@import "./var";
@import "../../node_modules/@angular/material/button/button-base";

.dashboard {
  &.extension {
    padding: 0;

    .offer {
      margin-bottom: 0 !important;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 2px solid $color-lightgray;

      &:last-of-type {
        border-bottom: 0;
      }

      &__buy-button {
        border-radius: 25px;
        min-width: 100px;
        line-height: 30px;
      }
    }
    .mat-card {
      box-shadow: none;
    }
  }
}

.offer {
  margin-bottom: $padding-xs * 2;

  @include media-xs {
    width: auto;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  @include media-sm {
    width: calc(50% - #{$padding-xs * 5});

    &:nth-of-type(odd) {
      margin-right: $padding-xs;
    }

    &:nth-of-type(even) {
      margin-left: $padding-xs;
    }
  }

  @include media-md {
    width: calc(33% - #{$padding-xs * 5 + 1});

    &:nth-of-type(3n+1) {
      margin-right: $padding-xs;
    }

    &:nth-of-type(3n+2) {
      margin-left: $padding-xs;
      margin-right: $padding-xs;
    }

    &:nth-of-type(3n+3) {
      margin-left: $padding-xs;
    }
  }

  @include media-lg {
    width: calc(25% - #{$padding-xs * 5 + 4});

    &:nth-of-type(4n+1) {
      margin-right: $padding-xs;
    }

    &:nth-of-type(4n+2),
    &:nth-of-type(4n+3) {
      margin-left: $padding-xs;
      margin-right: $padding-xs;
    }

    &:nth-of-type(4n+4) {
      margin-left: $padding-xs;
    }
  }

  &__best-deal-chip {
    background-color: $color-primary;
    color: white;
    font-weight: 600;
    display: inline-flex;
    padding: 0 12px;
    border-radius: $border-radius * 2;
    align-items: center;
    cursor: default;
    font-size: 12px;
    line-height: 22px;
  }

  &__product {
    &-container {
      height: 150px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $color-default;
      padding: $padding-xs;
      margin-bottom: $padding-xs * 3;
      border-radius: $border-radius * 3;
    }

    &-info {
      position: absolute;
      top: 0;
      left: 0;
      padding: $padding-xs * 1.5;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-vendor {
      display: inline-block;
      width: 21px;
      max-height: 21px;
    }

    &-delete {
      position: absolute;
      color: $color-accent;
      top: $padding-xs * 1.5;
      right: $padding-xs * 1.5;
      padding: 0;
      min-width: 0;
      line-height: 1;

      &:hover, &:focus {
        cursor: pointer;
      }
    }
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 116%;
    display: -webkit-inline-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    color: $color-success;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;

    & + & {
      padding-left: $padding-sm;
    }

    &__old {
      color: $color-default;
      font-size: 14px;
      line-height: 21px;
      text-decoration: line-through;
    }
  }

  &__actions {
    &-button {
      min-height: $mat-button-line-height;
      line-height: normal;

      .mat-icon {
        color: #8677a5;
      }
    }
  }
}


.landing-ext-area{
  width: auto;
  height: auto;
  padding:10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // -webkit-border-radius:8px;
  // border-radius:8px;
  // box-shadow: 0px 4px 5px -2px rgba(82, 63, 104, 0.36), 0px 7px 10px 1px rgba(82, 63, 104, 0.342), 0px 2px 16px 1px rgba(82, 63, 104, 0.336);
  .ladng-ext-header{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -webkit-align-items:center;
    align-items:center;
    color: #fff;
    background: #cae9ff;
    padding: 20px;
    .landng-wlcme-title{
      width: 100%;;
      font-size: 25px;
      line-height: 1.2;
      font-family: Eina03,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-weight: 900;
      color: #004aad;
      text-align: center;
    }
  }
  .lndng-content-area{
    padding: 10px;
    h3{
      color: #004aad;
      font-weight: bold;
      font-size: 16px;
      display: flex;
      align-items: center;
    }
    p{
      color: gray;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.7;
      margin-bottom: 20px;
      span{
        background: gray;
      }
    }
    span{
      background: #4ba4db;
      display: inline-block;
      padding: 5px;
      line-height: 1;
      img{
        width: 15px;
        height: auto;
      }
      &.jc-bg-blue{
        background-color: #4ba4db !important;
      }
    }
    img{
      width: 20px;
      height: auto;
    }
  }
}
